{% extends 'base.html' %}
{% block content %}
    <div class="container phone_css">
        <div class="col-xs-3">
            <input type="hidden" id="name" value="{{ uname }}">
            <input type="hidden" id="user_name" value="{{ user_infos.user_name }}">
            <div style="background-color: #fff;border: #eaeaea solid 1px;margin-bottom: 10px;">
                <div class="center_header">
                    {% if user_infos.user_name == uname %}
                        <a href="javascript:void(0)" id="replace_avatar" title="更换头像"><img
                                src="{{ user_infos.avatar_url }}"
                                alt="" width="50px"
                                height="50px"
                                style="border-radius: 25px;"></a>
                    {% else %}
                        <img src="{{ user_infos.avatar_url }}"
                             alt="" width="50px"
                             height="50px"
                             style="border-radius: 25px;">
                    {% endif %}
                    <form action="/sub_avatar" method="post" style="display: none" enctype="multipart/form-data">
                        <input type="file" id="choose_avatar" name="files">
                        <input type="hidden" name="username" value="{{ user_infos.user_name }}">
                        <button type="submit" id="sub_avatar"></button>
                    </form>
                    <span style="font-weight: bold">{{ user_infos.user_name }}</span>
                    {% if user_infos.user_name == uname %}

                    {% else %}
                        {% if c == '1' %}
                            <button class="btn qx_guanzhu"><span>取消关注</span></button>
                        {% elif c == '0' %}
                            <button class="btn guanzhu"><span>关注+</span></button>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="user_infos">
                    <p>关注：<span>{{ user_infos.attention }}</span></p>
                    <p>粉丝：<span>{{ user_infos.Fan }}</span></p>
                    <p>博文：<span>{{ user_essay_number }}</span></p>
                    <p style="margin: 0">简介：<span class="gq_infos">{{ user_infos.signature }}</span></p>
                </div>
            </div>
            {% if user_infos.user_name == uname %}
                <div class="info_xx">
                    <a href="/user_write_essay/{{ user_infos.user_name }}">发布博文</a>
                    <span>|</span>
                    <a href="javascript:void(0)" class="change_gq">更改简介</a>
                    <span>|</span>
                    <a href="/exit_login">退出登录</a>
                </div>
                <div class="gx_" style="display: none">
                    <input type="text" class="gx_text" placeholder="简介">
                    <button class="btn gx_btn"
                            style="margin-bottom: 4px;background-color: #fff;border: #555 solid 1px;color: #555">更改
                    </button>
                    <span class="gq_prompt" style="display: none"></span>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-9">
            <h4 style="background-color: #fff;border: #eaeaea solid 1px;border-bottom: none;margin: 0;font-size: 15px;font-weight: bold;height: 24px;line-height: 24px;text-align: center;">{{ user_infos.user_name }}的博文</h4>
            <ul class="user_center_essay" style="list-style-type: none;margin: 0;padding: 0;background-color: #fff">
                <!--加载博客-->
            </ul>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/user_center.css") }}">
    <script src="{{ url_for("static", filename="js/user_center.js") }}"></script>
{% endblock content %}