.col-xs-12 h3 {
    margin: 0;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    border: #eaeaea solid 1px;
    border-bottom: none;
    background-color: #fff;
    text-align: center;
    color: #666;
}

.col-xs-3 ul {
    padding: 0;
    margin: 0;
}

.col-xs-3 h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    padding-left: 6px;
    border-bottom: #eaeaea solid 1px;
    color: #666;
}

.col-xs-9 h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    border: #eaeaea solid 1px;
    border-bottom: none;
    background-color: #fff;
    color: #666;
    text-align: center;
}

/*首页文章*/
.cls_info {
    border: #eaeaea solid 1px;
}

.cls_info li {
    border-bottom: #eaeaea solid 1px;
    padding: 18px 24px;
    background-color: #fff;
}

.cls_info li span {
    font-size: 13px;
}

.cls_info li .info {
    margin: 0;
}

.cls_info li h1 a {
    color: #555;
    text-decoration: none;
}

.cls_info li h1 a:hover {
    color: #45B6F7;
    transition: all 0.25s;
}

@media screen and (max-width: 768px) {
    .cls_info li {
        border-bottom: #eaeaea solid 1px;
        padding: 10px 16px;
        background-color: #fff;
    }
}