.search_input {
    width: 90%;
    height: 42px;
    padding-left: 10px;
    border: 1.5px solid #777;
    border-radius: 5px;
    outline: none;
    color: #9E9C9C;
}

.search_btn {
    margin-left: -8px;
    padding-top: 0;
    width: 10%;
    height: 42px;
    border: none;
    background: #777;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 16px;
    outline: none;
}

@media screen and (max-width: 768px) {
    .search_input {
        float: left;
        width: 80%;
        height: 42px;
        padding-left: 10px;
        border: 1px solid #777;
        border-radius: 5px;
        vertical-align: middle;
        outline: none;
        color: #9E9C9C;
    }

    .search_btn {
        float: left;
        margin-left: -8px;
        padding-right: 10px;
        width: 22%;
        height: 42px;
        background: #777;
        border-radius: 0 5px 5px 0;
        border: none;
        outline: none;
        color: #fff;
    }

    .search_essay_infos {
        margin-top: 10px;
    }
}

.search_index li {
    border: #eaeaea solid 1px;
    padding: 10px;
    background-color: #fff;
}

.search_index li .info {
    margin: 0;
}

.search_index li h1 a {
    color: #555;
    text-decoration: none;
}

.search_index li h1 a:hover {
    color: #c00;
    transition: all 0.25s;
}
body{
    background-image: url("/static/files/image/-2ca58c9c9d97c42a.jpg");
}