.write_form{
    overflow: auto;
    padding: 5px;
}
#essay_title {
    height: 23px;
    max-width: 200px;
}

#select {
    max-width: 200px;
}

@media screen and (max-width: 768px) {
    #select {
        height: 23px;
        margin-top: 1px!important;
    }

    #essay_title {

    }

    /*图片上传手机样式
    .edui-default .edui-dialog-closebutton .edui-button-body {
        float: right;
    }

    .edui-default .edui-dialog-titlebar {
        width: 370px;
    }*/

}

.imageUploadContainer .mce-container .mce-panel .mce-window {
    top: 100px;
}

